.TodoCounter{
    font-size: 45px;
    text-align: center;
    margin: 0;
    padding: 48px;
    font-weight: bold;
    color: rgb(245, 201, 5);
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black;
}

.TodoCounter span{
    font-weight: bold;
}